<h1>Goodbye,Friends</h1>
<p><%= @message %></p>
<script type="text/javascript">
function open_win() 
{
window.open("http://localhost:3000/greetings/hello")
}
</script>
<body>
<form>
<input type=button value="back" onclick="open_win()">
</form>
</body>
