<h1> 欢迎来到选课系统!</h1>
<p><%=@message %></p>
<p>Yesterday is not ours to recover,but tomorrow is ours to win or lose</p>
<a href="http://www.gucas.ac.cn/" target="_blank">welcome to UCAS</a>
<script type="text/javascript">
    function startTime()
{
    var today=new Date()
    var h=today.getHours()
    var m=today.getMinutes()
    var s=today.getSeconds()
    // add a zero in front of numbers<10
     m=checkTime(m)
     s=checkTime(s)
    document.getElementById('txt').innerHTML=h+":"+m+":"+s
    var says=""
    if(h>=7&&h<=10)
        says="早上好！"    
    if(h>=11&&h<=13)
        says="中午好！"                
    if(h>=14&&h<=18)
        says="下午好！"
    if(h>=19&&h<=24)
        says="晚上好！"
     if(h>=0&&h<=6)
        says="凌晨好！"
    t=setTimeout('startTime()',500)
    document.getElementById('say').innerHTML=says
}
function checkTime(i)
{
    if (i<10) 
          {i="0" + i}
      return i
}
</script>
<body onload="startTime()">
    <div id="txt"></div>
    <div id="say"></div>
</body>
<script type="text/javascript">
function open_win() 
{
window.open("http://localhost:3000/say/Goodbye")
}
</script>
<body>
    <form>
        <input type=button value="exit" onclick="open_win()">
    </form>
</body>
